body {
    font-family: "Verdana",verdana, sans;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    color: #191818;
    text-align: left;
}

.container-fluid {
    padding-top: 10px !important;
}


.font-weight-light {
  font-family: "Verdana", verdana, sans;
  font-size: 14px;
  font-weight: 500 !important;

}

.bg-danger, .alert-danger, .alert-error, .label-danger {
    background-color: #e42312 !important;
}

.sidebar-light-danger {
    background-color: #e42312!important;
}

h3.card-title.p-3.ml-auto{
 color: #e42312; 
}

.col-sm-12 {
    padding-top: 10px !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #e42312;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}

div.small-box.bg-danger.elevation-5 {
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}
}